@model chamados.Models.Chamado


<div style="border: 1px solid rgb(200, 200, 200); padding: 0 50px">
<div>
    <h3>Criar chamado:</h3>
</div>
    <form action="Create" method="Post" >

        <br>

        <div class="col-md-6 form-group">
            <label>Número Chamado</label>
            <input  class="form-control"
                    type="text" name="numChamado"/>
        </div>

        <div class="col-md-6 form-group">
            <label>Numero Solicitante</label>
            <input  class="form-control"
                    type="text" name="numSolicitante"/>
        </div>

        <div class="col-md-12 form-group">
            <label>Descricao do Problema</label>
            <input  class="form-control"
                    type="text" name="descricaoProblema"/>
        </div>

        <div class="col-md-6 form-group">
            <label>Email</label>
            <input  class="form-control"
                    type="text" name="email"/>
        </div>

        <div class="col-md-6 form-group">
            <label>Telefone</label>
            <input  class="form-control"
                    type="text" name="telefone"/>
        </div>

        <div class="col-md-6 form-group">
            <label>Inicio</label>
            <input  class="form-control"
                    type="datetime-local" 
                    name="horaInicio"/>
        </div>

        <div class="col-md-6 form-group">
            <label>Fim</label>
            <input  class="form-control"
                    type="datetime-local" 
                    name="horaFim"/>
        </div>

        <div>
        <input  class="btn btn-success" 
                type="submit" style="padding: 5px 50px; margin: 30px" value="Salvar"/>
        </div>
    </form>
</div>